# Windows image file caches
ext
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
*.iml

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Igone bin directory - talma
.idea
target
logs
conf
CMpub
ClientInstallation

# Irrelevant logs - talma
log.html
*.log
*.elg

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.iml

# Windows shortcuts
*.lnk

# Java compliation file - talma
*.class

# My Saved file - talma
*.ini

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.class

.classpath
