#btnMapImage {
	-fx-image: url("/guiImages/Map.png");
}
#btnActualPWMImage {          
	-fx-image: url("/guiImages/Motor.png");
}
#btnBatteryImage {          
	-fx-image: url("/guiImages/Battery.png");
}
#btnSignalImage {          
	-fx-image: url("/guiImages/Signal.png");
}
#btnHeightAndSpeedImage {          
	-fx-image: url("/guiImages/Height.png");
}
#btnCameraImage {          
	-fx-image: url("/guiImages/Camera.png");
}
#btnSetModeImage {
	-fx-image: url("/guiImages/UpdateQuad.png");
}


#btnConnectImage {
	-fx-image: url("/guiImages/Disconnected.png");
}
#btnSyncDroneImage {
	-fx-image: url("/guiImages/Synchronize.png");
}
#btnControllerImage {
	-fx-image: url("/guiImages/Remote.png");
}
#btnArmImage {
	-fx-image: url("/guiImages/Arm.png");
}
#btnLandRTLImage {
	-fx-image: url("/guiImages/Land.png");
}
#btnTakeoffImage {
	-fx-image: url("/guiImages/Takeoff.png");
}
#btnGCSShowImage {
	-fx-image: url("/guiImages/GCSPosition.png");
}
#btnHoldPositionImage {
	-fx-image: url("/guiImages/HoldPosition.png");
}
#btnStartMissionImage {
	-fx-image: url("/guiImages/Mission2.png");
}
#btnStartPerimeterImage {
	-fx-image: url("/guiImages/Perimeter.png");
}
#btnFollowBeaconStartImage {
	-fx-image: url("/guiImages/LockPosition.png");
}
#btnFollowBeaconShowImage {
	-fx-image: url("/guiImages/BeaconOff.png");
}
#btnExitImage {
	-fx-image: url("/guiImages/Exit.png");
}
