#btnMapImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Map.png");
}
#btnActualPWMImage {          
	-fx-image: url("/com/dronegcs/console/guiImages/Motor.png");
}
#btnBatteryImage {          
	-fx-image: url("/com/dronegcs/console/guiImages/Battery.png");
}
#btnSignalImage {          
	-fx-image: url("/com/dronegcs/console/guiImages/Signal.png");
}
#btnHeightAndSpeedImage {          
	-fx-image: url("/com/dronegcs/console/guiImages/Height.png");
}
#btnCameraImage {          
	-fx-image: url("/com/dronegcs/console/guiImages/Camera.png");
}
#btnSetModeImage {
	-fx-image: url("/com/dronegcs/console/guiImages/UpdateQuad.png");
}


#btnConnectImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Disconnected.png");
}
#btnSyncDroneImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Synchronize.png");
}
#btnControllerImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Remote.png");
}
#btnArmImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Arm.png");
}
#btnLandRTLImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Land.png");
}
#btnTakeoffImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Takeoff.png");
}
#btnGCSShowImage {
	-fx-image: url("/com/dronegcs/console/guiImages/GCSPosition.png");
}
#btnHoldPositionImage {
	-fx-image: url("/com/dronegcs/console/guiImages/HoldPosition.png");
}
#btnStartMissionImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Mission2.png");
}
#btnStartPerimeterImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Perimeter.png");
}
#btnFollowBeaconStartImage {
	-fx-image: url("/com/dronegcs/console/guiImages/LockPosition.png");
}
#btnFollowBeaconShowImage {
	-fx-image: url("/com/dronegcs/console/guiImages/BeaconOff.png");
}
#btnExitImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Exit.png");
}
