#btnMapImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Map.png");
}
#btnActualPWMImage {          
	-fx-image: url("/com/dronegcs/console/guiImages/Motor.png");
}
#btnBatteryImage {          
	-fx-image: url("/com/dronegcs/console/guiImages/Battery.png");
}
#btnSignalImage {          
	-fx-image: url("/com/dronegcs/console/guiImages/Signal.png");
}
#btnHeightAndSpeedImage {          
	-fx-image: url("/com/dronegcs/console/guiImages/Height.png");
}
#btnCameraImage {          
	-fx-image: url("/com/dronegcs/console/guiImages/Camera.png");
}
#btnMavlinkParamsImage {
	-fx-image: url("/com/dronegcs/console/guiImages/MavlinkParams.png");
}
#btnMavlinkConfigurationImage {
	-fx-image: url("/com/dronegcs/console/guiImages/MavlinkConfiguration.png");
}
#btnEventLogImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Logs.png");
}
#btnSetModeImage {
	-fx-image: url("/com/dronegcs/console/guiImages/UpdateQuad.png");
}
#btnPublishImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Save.png");
}
#btnPublishOffImage {
	-fx-image: url("/com/dronegcs/console/guiImages/SaveOff.png");
}
#btnDiscardImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Discard.png");
}
#btnDiscardOffImage {
	-fx-image: url("/com/dronegcs/console/guiImages/DiscardOff.png");
}


#btnConnectImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Disconnected.png");
}
#btnSyncDroneImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Synchronize.png");
}
#btnControllerImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Remote.png");
}
#btnArmImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Arm.png");
}
#btnLandRTLImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Land.png");
}
#btnTakeoffImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Takeoff.png");
}
#btnGCSShowImage {
	-fx-image: url("/com/dronegcs/console/guiImages/GCSPosition.png");
}
#btnHoldPositionImage {
	-fx-image: url("/com/dronegcs/console/guiImages/HoldPosition.png");
}
#btnStartMissionImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Mission2.png");
}
#btnStartPerimeterImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Perimeter.png");
}
#btnFollowBeaconStartImage {
	-fx-image: url("/com/dronegcs/console/guiImages/LockPosition.png");
}
#btnFollowBeaconShowImage {
	-fx-image: url("/com/dronegcs/console/guiImages/BeaconOff.png");
}
#btnExitImage {
	-fx-image: url("/com/dronegcs/console/guiImages/Exit.png");
}

* {
   backgroundColor: ghostwhite;
   buttonColor: lightskyblue;
   buttonHoverColor: lightgray;
   buttonHoverTextColor: #1d1d1d;
   textColor: #1d1d1d;


   /*
    Dark background on blue button and white text

    backgroundColor: #1d1d1d;
    buttonHoverColor: lightgray;
    buttonHoverTextColor: #1d1d1d;
    buttonColor: #2d579f;
    textColor: lightgray;
   */

   -fx-text-fill: textColor;
}

.root{
    -fx-background-color: backgroundColor;
}

.text-input { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
    -fx-border-color: textColor;
}

.split-pane { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
}

.split-pane:horizontal>*.split-pane-divider { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
}

.background {
    -fx-background-color: backgroundColor;
}

.button{
    -fx-background-color: buttonColor;
    -fx-text-fill: textColor;
}

.button:hover {
    -fx-background-color : buttonHoverColor;
    -fx-text-fill: buttonHoverTextColor;
}

.toggle-button{
    -fx-background-color: buttonColor;
    -fx-text-fill: textColor;
}

.toggle-button:hover{
    -fx-background-color : buttonHoverColor;
    -fx-text-fill: buttonHoverTextColor;
}

.check-box {
    -fx-background-color: backgroundColor;
    -fx-text-fill: textColor;
}

.check-box .box {
    -fx-background-color: backgroundColor;
    -fx-border-color: textColor;
}

.text-field{
    -fx-text-fill: textColor;
}

.label{
    -fx-text-fill: textColor;
}

.tab-pane {
    -fx-background-color: backgroundColor;
    -fx-text-fill: textColor;
}

.titled-pane>*.content>AnchorPane { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
}

.tab-pane>*.tab-header-area>*.tab-header-background { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
}

.tab-pane>*.tab-header-area>*.headers-region>*.tab { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
}

.tab-pane>*.tab-header-area>*.headers-region>*.tab:selected { /* FX theme stylesheet */
    -fx-background-color: buttonColor;
}

.table-view {
    -fx-background-color: backgroundColor;
    -fx-text-fill: textColor;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-base: backgroundColor;
    -fx-control-inner-background: backgroundColor;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: buttonColor;
}

.table-view *.column-header {
    -fx-background-color: backgroundColor;
}

.table-view *.filler { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
}

.table-view .table-cell{
    -fx-background-color: backgroundColor;
}

.combo-box-base {
    -fx-background-color: backgroundColor;
    -fx-border-color: textColor;
    -fx-text-fill: textColor;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: backgroundColor;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: buttonColor;
}

.progress-bar>*.track { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
}

.progress-bar>*.bar { /* FX theme stylesheet */
    -fx-background-color: buttonColor;
}

.scroll-pane { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
}

.scroll-pane .viewport {
    -fx-background-color: backgroundColor;
}

.tree-view { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
}

.tree-cell { /* FX theme stylesheet */
    -fx-background-color: backgroundColor;
}

.accordion>*.titled-pane>*.title { /* FX theme stylesheet */
    -fx-background-color: buttonColor;
    -fx-border-color: buttonColor;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:backgroundColor;
    -fx-border-color:textColor;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button
{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-padding:0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb
{
    -fx-background-color: textColor;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

